{% include base_path %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ post.title }}</a>
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">Permalink</a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a>
      {% endif %}
    </h2>

    <p class="page__meta">
      <i class="fa fa-fw fa-calendar" aria-hidden="true"></i>
      {{ post.date | date: '%B %d, %Y' }}
      {% if post.issuer %}
        &nbsp;•&nbsp; {{ post.issuer }}
      {% endif %}
      {% if post.location %}
        &nbsp;•&nbsp; {{ post.location }}
      {% endif %}
    </p>

    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">
        {{ post.excerpt | markdownify }}
      </p>
    {% endif %}

  </article>
</div>
